@inject IHtmlLocalizer<PhantomNet.ButtonResources> ButtonLocalizer
@inject IHtmlLocalizer<PhantomNet.Mvc.Resources.WebResources> WebLocalizer
@inject IHtmlLocalizer<PhantomNet.IdentityAccount.Resources.DashboardResources> DashboardLocalizer
@{
    ViewData["Title"] = DashboardLocalizer["Accounts"].Value;
    ViewBag.ActiveMenuItem = "Accounts";
}

<div ng-app="pnAccountList"
     ng-controller="AccountListController"
     pn-locale="@Url.Action("Resources", "AccountApi")"
     ng-cloak>
    <div pn-list-dashhead
         pn-title="@ViewData["Title"]"
         subtitle="@DashboardLocalizer["System"]"
         search-placeholder="@DashboardLocalizer["Search account"]"
         search-terms="search"
         empty-list="totalCount === 0"
         on-toggle-add-form="onToggleAdForm()">
    </div>

    <div pn-errors close-label="Đóng" message="errorMessage" errors="errors" on-clear="clearErrors()"></div>

    <div pn-loading ng-if="showLoading">@WebLocalizer["loading..."]</div>

    <div pn-loading ng-if="showSaving">@WebLocalizer["saving..."]</div>

    <div pn-list-add-form
         class="pn-animate-height clearfix"
         ng-show="showAddForm"
         empty-list="totalCount === 0"
         empty-list-message="@DashboardLocalizer["There is no account in the system. Please create a new one here."]"
         on-submit="add(newModel)">
        <div class="flextable flextable-responsive flextable-separate">
            <div pn-flextable-text-input class="w-md" placeholder="@DashboardLocalizer["Email"]" ng-model="newModel.email" focus-if="showAddForm && focusAddFormInput"></div>
            <div pn-flextable-text-input class="w-md" placeholder="@DashboardLocalizer["Password"]" ng-model="newModel.password"></div>
            <div pn-flextable-submit-reset></div>
        </div>
    </div>

    <div class="m-t visible-xs"></div>
    <div pn-search-result-count
         class="text-sm-right"
         count="totalCount"
         filtered-count="filteredCount"
         zero-message="@DashboardLocalizer["No account found."]"
         single-message="@DashboardLocalizer["1 account found."]"
         plural-message="@(DashboardLocalizer["(count | number) + ' accounts found.'"])">
    </div>
    <div class="m-t visible-xs"></div>

    <div class="table-full pn-animate-height" ng-show="totalCount > 0">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th pn-sortable-column
                            class="w-md"
                            sorted="sortExpression === 'email'"
                            reverse="sortReverse"
                            on-sort="sort('email', reverse)">@DashboardLocalizer["Email"]</th>
                        <th class="w-md">@DashboardLocalizer["Password"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="model in models | search: searchFilter" ng-if="model.id !== editModel.id" ng-dblclick="edit(model)">
                        <td>{{model.email}}</td>
                        <td>******</td>
                        <td pn-table-edit-delete on-edit="edit(model)" on-delete="confirmDelete(model)"></td>
                    </tr>
                    <tr ng-repeat-end ng-if="model.id && model.id === editModel.id" ng-keydown="onEditorKeydown($event, model)">
                        <td pn-table-text-input placeholder="@DashboardLocalizer["Email"]" ng-model="editModel.email"></td>
                        <td pn-table-text-input placeholder="@DashboardLocalizer["Password"]" ng-model="editModel.password"></td>
                        <td pn-table-update-cancel on-update="update(editModel, model)" on-cancel="cancelUpdate()"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div pn-delete-confirmation
         accessor="deleteConfirmationModalAccessor"
         id="deleteConfirmationModal"
         close-label="@ButtonLocalizer["Close"]"
         title="@WebLocalizer["Caution"]"
         delete-label="@ButtonLocalizer["Delete"]"
         cancel-label="@ButtonLocalizer["Cancel"]"
         on-confirm="delete(deleteConfirmingModel)"
         on-close="onDeleteConfirmationModalClose()">
        {{locale.formatDeleteConfirmation({ email: deleteConfirmingModel.email })}}
    </div>
</div>

@section scripts {
    <script src="~/assets/_vendors/pn-ng-dashboard/dist/js/directives/pn-dashboard-list.js"></script>
    <script src="~/assets/js/account/list/app.js"></script>
    <script src="~/assets/js/account/list/controllers.js"></script>
    <script src="~/assets/js/account/list/services.js"></script>
}
